@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

nav{
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: black;
   width: 100vw;
}


ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}


li{
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

main{
    margin-bottom: 10rem;
}

svg:hover{
    fill:crimson;
}

svg#form:hover{
    stroke: crimson;
}

.texto{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    font-size: 30px;
    font-weight: bold;

    background-image: linear-gradient(45deg, black, #001C31, #050505, #628B99);
    background-size: 400% 100%;

    animation: animar 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
}

@keyframes animar {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position-x: 400%;
    }
}
