@charset "UTF-8";

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"Choco" ;
    src: url("../../app/fonts/Choco\ Shake.ttf") format("trutype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Typewritter" ;
    src: url("../../app/fonts/JMH\ Typewriter\ dry-Thin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Matt";
    src: url("../../app/fonts/Nott\ and\ Matt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --font1: "Choco";
    --font2: "Typewritter";
    --font3: "Matt";
    --corAzul1: #51D2FC;
    --corAzul: #628B99;
    --corAzul3: #4AC4ED;
    --corAzul4: #59686E;
    --corAzul5: #363F42;
    --corAzul6: #212F33;
    --corCinza1:#5C5B57;
    --corCinza2: #999896;
    --corCinza3: #EDEADF;
    --corCinza4: #6E6E6E;
    --corCinza5: #424242;
    --corCinza6: #212F33;
    --corPreto1: #001C31;
    --corPreto2: #050505;
    --corPreto3: #050505a9;
}

body{
    background:linear-gradient(45deg, var(--corPreto1), var(--corPreto2));
    font-family:var(--font2);
    font-size: 1.2em;
    font-weight: bold;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001C31;
    height: 520px;
    width: 450px;
}

div.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6%;
    padding-top: 10px;
}

#cadcontainer{
    height: 600px;
}

form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 35px;
}

fieldset{
    color: white;
    width: 350px;
    padding: 15px;
    border: 3px solid;
}

input{
   color: black;
   border: 1px solid black;
   height: 35px;
   width: 300px;
   outline: none;
   background-color: var(--corPreto3);
   color: white;
   font-size: 1.2em;
   font-weight: normal;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus{
    outline-style: groove;
    outline-color: #51D2FC;
}

a{

    font-size: 1em;
    text-decoration: none;
    color: white;
    margin-top: 0px;
    font-weight: normal;
    font-family: var(--font1);
}

a:hover{
    text-decoration: underline;
}

input.btn{
    font-family: var(--font1);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--corPreto3);
    font-size: 1.2em;
}

.chave{
    height: 100px;
    width: 100px;
}

input::placeholder{
    color: rgb(246, 11, 11);
}



dialog{
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
}


#close{
    margin: 30px;
    background-color: #001C31;
}



@media screen and (min-width: 600px) and (max-width: 768px) {
    body{
        background-image: url("../../app/img/servidor.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        font-size: 1.5em;
    }

    div.container{
        width: 550px;
        height: 590px;
    }

    #cadcontainer{
        height: 660px;
    }

    div.formulario{
        margin: 5%;  
    }

    form{
        gap: 32px;
    }

    fieldset{
        width: 450px;
        padding: 15px;
        border: 3px solid;
    }

    input{
        width: 400px;
        height: 50px;
        font-size: 1.3em;
    }

    input.btn{
        height: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: url("../../app/img/servidor.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
    }

    div.container{
        width: 600px;
        height: 600px;
    }

    div.formulario{
        margin: 5%;
        
    }

    #cadcontainer{
        height: 660px;
    }

    form{
        gap: 40px;
    }

    fieldset{
        width: 550px;
        padding: 15px;
        border: 3px solid;
    }

    input{
        width: 500px;
        height: 50px;
    }

    input.btn{
        height: 60px;
    }

    a{
        font-size: 1.3em;
        font-weight: normal;
    }

    

   
    
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url("../../app/img/servidor.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
    }

    div.container{
        width: 600px;
        height: 600px;
    }

    div.formulario{
        margin: 3%;
        
    }

    #cadcontainer{
        height: 700px;
    }

    form{
        gap: 40px;
    }

    fieldset{
        width: 550px;
        padding: 15px;
        border: 3px solid;
    }

    input{
        width: 500px;
        height: 50px;
    }

    input.btn{
        height: 60px;
    }
}

@media screen and (min-width: 1200px) {

    body{
        background-image: url("../../app/img/servidor.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
    }

    div.container{
        width: 700px;
        height: 650px;
    }

    #cadcontainer{
        height: 670px;
    }

    div.formulario{
        margin: 3%;
        
    }

    form{
        gap: 25px;
    }

    fieldset{
        width: 600px;
        padding: 15px;
        border: 3px solid;
        font-size: 1.3em;
    }

    input{
        width: 550px;
        height: 60px;
    }

    input.btn{
        height: 60px;
        border: 5px solid var(--corPreto3);
        font-size: 1.3em;
    }

    a{

        font-size: 1.2em;
        text-decoration: none;
        color: white;
        margin-top: 0px;
    }

    a:hover{
        text-decoration: underline;
    }

    .chave{
        width: 120px;
        height: 120px;
    }

    /* #imgcad{
        width: 100px;
        height: 100px;
    } */
}